package ${package_name}

import com.uber.rib.core.Router

/**
 * Adds and removes children of [${rib_name}Builder.${rib_name}Scope].
 *
 * TODO describe the possible child configurations of this scope.
 */
class ${rib_name}Router(
  interactor: ${rib_name}Interactor,
  scope: ${rib_name}Builder.${rib_name}Scope
) : Router<${rib_name}Interactor, ${rib_name}Builder.${rib_name}Scope>(interactor, scope)
